ul li{
    float: left;
    list-style-type: none;
    font-size: 20px;
}

.left{
    margin-left: 50px;
}

a{
    color: white;
    margin-right: 20px;
}
.banner{
    position: absolute;
    width: 100%;
}

.banner img{
    margin-top: -10%;
    width: 100%;
}

div .header{
    background-color: rgba(211, 63, 63, 0);
    height: 90px;
    width: 100%;   
}

.banner{
    position: absolute;
    z-index: -1;
}
.container{
    font-size: 23px;
    text-align: center;
    margin-left: 88px;
    width: 500px;
    height: 299px;
}
.button{
    display:   inline-block;
    padding: 5px 2.5em;
    border-radius: 99px;
    background-image: linear-gradient(to right, #0496c6 , #6ce9b9);
}

